body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
}

.avatar-container {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.avatar-container img {
    position: absolute;
    width: 200px;
}

.layer {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 600px) {
    .options-container {
        flex-direction: column; /* Empilha as opções verticalmente */
        gap: 10px; /* Reduz o espaço */
    }
}

.options h3 {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:focus {
    outline: 2px solid #ffcc00; /* Contorno visível */
    outline-offset: 2px;
}
